<%- include ('head') %>

<ul>
    <% workers.forEach(worker => { %>
        <li>
            <h2><%= worker.name %></h2>
            <p><%= worker.profession %></p>
            <p>Выездов: <%= worker.visits_count %></p>
        </li>
    <% }) %>
</ul>

<%- include ('foot') %>